<div class="container-fluid">
  <div class="jumbotron min-vh-100">
    <div class="row">
      <div class="col-12 p-0">        
          <h1 class="display-4">Register</h1>
          <div class="form-group col-md-4 p-3">
            <label for="email-input">Email address</label>
            <input [(ngModel)]='email' type="email" class="form-control form-control-lg" id="email-input"
              aria-describedby="emailHelp" placeholder="Enter email">
          </div>
       
      </div>
    </div>
    <div class="row">
      <div class="col-12 p-0">        
          <div class="form-group col-md-4 p-3">
            <label for="username-input">Password</label>
            <input [(ngModel)]='username' type="password" class="form-control form-control-lg" id="username-input"
              aria-describedby="passwordHelp" placeholder="Enter username">
          </div>
        
      </div>
    </div>
    <div class="row">
        <div class="col-12 p-0">        
            <div class="form-group col-md-4 p-3">
              <label for="password-input">Password</label>
              <input [(ngModel)]='password' type="password" class="form-control form-control-lg" id="password-input"
                aria-describedby="passwordHelp" placeholder="Enter password">
            </div>
          
        </div>
      </div>
    <button (click)='registerUser()' class="btn btn-success btn-lg">Register</button>
  </div>
</div>